<StackLayout class="background" height="100%">
    <GridLayout class="login" rows="auto, auto, auto">

    <!--    Logo-->
        <StackLayout row="0" class="login__logo" orientation="horizontal">
            <Image class="login__logo-image" src="~/assets/login/logo1.png" loadMode="sync"></Image>
            <Label class="login__logo-text" text="MyHotel"></Label>
        </StackLayout>
        <!--   Koniec Logo-->

        <!--    Formularz-->
        <StackLayout class="login__form" row="1" orientation="vertical">
            <StackLayout class="login__form__typing" orientation="horizontal">
                <Image class="fas login__form__typing-image" src="font://&#xf007;" stretch="none"></Image>
                <TextField class="login__form__typing-textField"
                           hint="Adres e-mail"
                           [(ngModel)]="user.email"
                           keyboardType="email"
                           autocorrect="false"
                           autocapitalizationType="none"
               ></TextField>
            </StackLayout>


            <StackLayout class="login__form__typing" orientation="horizontal">
                <Image class="fas login__form__typing-image" src="font://&#xf023;" stretch="none"></Image>
                <TextField class="login__form__typing-textField" [(ngModel)]="user.password" hint="Hasło" secure="true"></TextField>
            </StackLayout>

            <StackLayout *ngIf="!isLoggingIn" class="login__form__typing" orientation="vertical">
                <TextField [(ngModel)]="passwordCorrect" class="login__form__typing-textField" hint="Powtórz hasło" secure="true"></TextField>
                <TextField [(ngModel)]="user.accessKey" class="login__form__typing-textField" hint="Podaj kod dostępu"></TextField>
                <TextField [(ngModel)]="user.displayName" class="login__form__typing-textField" hint="Imię i nazwisko"></TextField>
            </StackLayout>

            <Button (tap)="chechName()" *ngIf="isLoggingIn" class="login-button -primary" text="Zaloguj się"></Button>
            <Button (tap)="singUp()" *ngIf="!isLoggingIn" class="login-button -primary" text="Zarejestruj się"></Button>
        </StackLayout>
        <!--    Koniec Formularza-->

        <!--    Zmiana logowania/rejestracji-->
        <StackLayout class="login__changeLogin" row="2" orientation="vertical">
            <Label (tap)="toggleDisplay()" *ngIf="isLoggingIn" class="login__changeLogin__description" text="Zarejestruj się"></Label>
            <Label (tap)="toggleDisplay()" *ngIf="!isLoggingIn" class="login__changeLogin__description" text="Zaloguj się"></Label>

            <StackLayout *ngIf="isLoggingIn" class="login__changeLogin__action" orientation="horizontal">
                <Label class="login__changeLogin__action-smaller" text="Nie pamiętasz hasła?"></Label>
                <Label class="login__changeLogin__action-bigger" text="Przypomnij hasło"></Label>
            </StackLayout>
        </StackLayout>
        <!--   Koniec Zmiana logowania/rejestracji-->

    </GridLayout>
</StackLayout>
