@import "~/app/styles/variables";

.home {
  &__user {
    margin-top: 50;
    width: 100%;

    &-logout {
      width: 30%;
      height: 25;
      font-size: 14;
    }

    &-name {
      vertical-align: center;
    }

    &-work {
      text-align: center;
      margin-top: 15;
    }

  }

  .disinfect {
    margin-top: 10;
    text-align: center;

    &-text {

    }
  }

  &__rooms {
    padding-top: 20;

    &__room {
      background-color: rgba(254, 254, 254, 0.7);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50;
      height: 250;
      width: 160;
      vertical-align: top;
      margin-left: 10;
      padding: 15;

      Label {
        color: black;
        margin-bottom: 10;
      }

      .icon-blue {
        color: $color-blue;

      }

      &-description {
        text-align: center;
      }

      &-edit {
        width: 70%;
        height: 30;
        font-size: 16;
      }
    }
  }

  &__hotelInfo {
    width: 100%;

    &-description {
      margin-top: 5;
      margin-bottom: 5;
      text-align: center;
      font-size: 18;
    }

    &__details {

      &-line {
      width: 90%;
        margin-bottom: 15;

        &-text {
          width: 100%;
          border-bottom-width: 1;
          border-bottom-color: $color-white;
        }
      }

    }
  }

  .info-icon {
    color: $color-black;
    margin-right: 15;
    margin-top: 5;
  }

}


