<ActionBar>
    <Label text="Home"></Label>
</ActionBar>

<!--    <StackLayout *ngFor="let one of collection" orientation="vertical">-->
<!--        <AbsoluteLayout>-->
<!--&lt;!&ndash;            <Label [text]="one.data.nazwa"></Label>&ndash;&gt;-->
<!--            <Label [text]="one.uid"></Label>-->
<!--        </AbsoluteLayout>-->
<!--    </StackLayout>-->

<StackLayout orientation="vertical">
    <Label text="elo"></Label>
    <Label text="elo"></Label>
    <Label text="elo"></Label>
</StackLayout>
