@import "~/app/styles/variables";

.listView {

  &__buttonChange {
    width: 100%;
    horizontal-align: center;

    &-button {
      width: 40%;
      font-size: 14;
    }
  }
}


.spa {

  .spa__window {
    background-color: rgba(196, 196, 196, .6);
    width: 80%;
    horizontal-align: center;
    border-radius: 30;
    padding-bottom: 10;

      &-title {
        text-align: center;
        font-size: 24;
        font-weight: bold;
      }

      &__option {
        margin: 0;
        padding: 0;
        &-description {
          margin-left: 20;
          vertical-align: center;
          width: 60%;
        }
      }
  }
}

.button-update {
  margin-top: 20;
  width: 60%;
  font-size: 16;
}
